<section class="content">
  <h5 class="heading">Batch process</h5>
  <div class="batch-data-wrapper">
    <div class="batch-container rules-mainClass">
      <a href="#" routerLink="/Totaljob">
        <p>Total Job</p>
        <h1>7</h1>
        <img src="../../../../assets/images/total-job-icon.svg" class="total-icon">
      </a>
    </div>
    <div class="batch-container">
      <p>Uptime</p>
      <h1>1<sub class="data-sub">min</sub></h1>
      <img src="../../../../assets/images/time-icon.svg" class="total-icon">
    </div>
    <div class="batch-container">
      <p>Executed</p>
      <h1>6<sub class="data-sub">jobs</sub></h1>
      <img src="../../../../assets/images/executed-icon.svg" class="total-icon">
    </div>
    <div class="batch-container">
      <p>In progress</p>
      <h1>3<sub class="data-sub">Jobs</sub></h1>
      <img src="../../../../assets/images/jobs-icon.svg" class="total-icon">
    </div>
    <div class="batch-container">
      <p>Failed</p>
      <h1>2<sub class="data-sub">Jobs</sub></h1>
      <img src="../../../../assets/images/close-red-icon.svg" class="total-icon">
    </div>
    <div class="batch-container rules-mainClass">
      <a href="#" routerLink="/JobConfiguration">
        <img src="../../../../assets/images/add-btn.svg" class="add-icon">
        <p>Create job</p>
      </a>
    </div>
  </div>
  <div class="status-wrapper d-flex align-items-center">
    <div>
      <h5 class="heading d-block">Status</h5>
      <div class="status-container d-flex align-items-center">
        <div class="status">
          <p>In Standby Mode</p>
          <h6>False</h6>
        </div>
        <div class="status">
          <p>Running Since</p>
          <h6>23.01.2023: 05:43:04 UTC</h6>
        </div>
        <div class="status">
          <p>Shutdown</p>
          <h6>False</h6>
        </div>
        <div class="status">
          <p>Started</p>
          <h6>True</h6>
        </div>
      </div>
    </div>
    <div class="nodeInfo-container">
      <h5 class="heading">Node Info</h5>

      <div class="node-info-status mr-2">
        <p>Machine Name</p>
        <h6>340-T113191</h6>
      </div>

    </div>
  </div>
</section>
