.file-input {
  display: none;
}

.content {
  margin: 20px 20px 0;
}

.rule-button-container {
  padding-bottom: 20px;
  border-bottom: 1px solid #00000029;
}

.heading {
  color: #4D4D4D;
  font-size: 18px;
  padding-bottom: 10px;
}

select {
  text-align: left;
  border: 1px solid #00000029;
  text-align: left;
  border: 1px solid #B4B4B4;
  border-radius: 4px;
  width: 108px;
  height: 34px;
  margin-right: 10px;
  padding: 4px 4px 5px 5px;
  font-size: 14px;
  color: #434343;
}

.reset-btn {
  background: #FFFFFF;
  border: 1px solid #3B9F6B;
  color: #3B9F6B;
  border-radius: 4px;
  font-size: 13px;
  padding: 5px 10px;
  margin-right: 10px;
}

.progress-btn {
  background: #3B9F6B;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  margin: 10px 10px 10px 0px;
  width: 75px;
}

.rule-flow-container {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  margin-top: 15px;
  padding: 10px
}

.rule-flow-heading {
  color: #4D4D4D;
  font-size: 15px;
}

.rule-flow-wrapper {
  display: flex;
  /* align-items: center;*/
  justify-content: space-between;
}

label {
  color: #4D4D4D;
  font-size: 14px;
  margin-right: 20px;
  font-weight: 500;
  display: block;
}

.rule-flow-right-section {
  display: flex;
  align-items: baseline;
}

.cursor-pointer {
  cursor: pointer;
}

.close-toggle {
  font-size: 30px;
  color: #4D4D4D;
  margin: 0px 15px 5px;
}

.rule-btn {
  background: #90A2B4;
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 10px;
}

.close-json {
  width: 12px;
}

.json-container {
  display: flex;
  position: absolute;
  right: 0%;
  top: 200px;
}

.json-icon-wrapper {
  box-shadow: 0px 1px 9px #00000029;
  border: 1px solid #E8E8E8;
  padding: 2px 1px 3px 8px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  height: 34px;
  width: 60px;
}

.json-wrapper {
  box-shadow: 0px 1px 9px #00000029;
  border: 1px solid #E8E8E8;
  width: auto;
  padding: 2px 1px 3px 8px;
  background-color: #ffffff;
  height: 400px;
  width: 300px;
  overflow: auto;
}

textarea {
  height: 34px;
}
.add-exp {
  font-size: 12px;
  font-family: "robotoregular";
  border: 0px;
  background: #ffff;
  text-decoration: underline;
  color: blue;
}
::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.json-icon-wrapper img {
  margin: 0;
}

.menu-json-icon {
  margin-right: 9px !important;
}

.mx-10 {
  margin: 10px 0;

  @media screen and (max-width:768px) {
    margin: 10px 0 0;
  }
}

.responsive-column {
  flex-direction: row;

  @media screen and (max-width:992px) {
    flex-direction: column;
  }
}



.task-detail-wrapper {
  display: flex;

  .task-details-left-panel {
    width: 30%;
    border-left: 1px solid green;
    position: relative;
    margin-top: 20px;

    ul {
      width: 88%;
      list-style-type: none;
      // margin:10px 0px;
      border-left: 1px solid #3b9f6b;
      padding-left: 0;

      li {
        background: #F2F2F2;
        padding: 20px;
        color: #4F4F4F;
        border-bottom: 1px solid #4f4f4f21;
        font-family: 'robotoregular';
      }

      .active {
        background: #fff;
        border-left: 5px solid #3b9f6b;
      }

      .active {
        img {
          transform: rotate(90deg);
        }
      }
    }

    .menu-button {
      transform: rotate(90deg);
      width: 54px;
      background: #3b9f6b;
      color: #fff;
      text-align: center;
      cursor: pointer;
      position: absolute;
    }

    .menu-left {
      top: 15px;
      left: -16px;
    }

    .menu-right {
      top: 15px;
      right: 0;
    }
  }

  .task-details-right-panel {
    padding-top: 10px;
    width: 100%;

    .request-checkbox {
      width: 30px;
      height: 20px;
      vertical-align: bottom;
      margin-right: 10px;
    }

    .comment-wrapper {
      width: 50%;
    }

    .comments-section {
      width: 100%;
      height: 90px;
    }
  }
}
