.content-wrapper {
    display: flex;
  }
  
  .left-nav-wrapper {
    width: 100%;
    margin: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    height: 80vh;
    overflow: auto;
    background:#ffff;
  }
  